<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>please give me all your personal information</h1>
    <form action="/handle_information" method = POST>
        Mother's Maiden name: <input type="text" name="maiden_name"><br>
        Name of your first pet: <input type="text" name="first_pet_name"><br>
        Your social security number: <input type="text" name="social_security_number"><br>
        <input type="submit" value="push me!">
    </form>
</body>
</html>